# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc
data/00B41BA2-4323-46F7-97C3-4E1C637BD2B4_1_105_c.docx
data/00B41BA2-4323-46F7-97C3-4E1C637BD2B4_1_105_c.JPEG
data/1EDC02C1-FF98-4F27-A124-FFB5F79659AC_1_105_c.docx
data/1EDC02C1-FF98-4F27-A124-FFB5F79659AC_1_105_c.JPEG
data/3B0E68B4-A6F2-4D99-8A6C-E788FC7C62EB_1_105_c.docx
data/3B0E68B4-A6F2-4D99-8A6C-E788FC7C62EB_1_105_c.JPEG
data/4AD9B290-B77D-4EFA-B6CE-E5D8024A2770_1_105_c.docx
data/4AD9B290-B77D-4EFA-B6CE-E5D8024A2770_1_105_c.JPEG
data/4AD9B290-B77D-4EFA-B6CE-E5D8024A2770_1_105_c(1).docx
data/4AD9B290-B77D-4EFA-B6CE-E5D8024A2770_1_105_c(1).JPEG
data/4B744476-6649-4E5C-8AC0-404E66EE26C1_1_105_c.docx
data/4B744476-6649-4E5C-8AC0-404E66EE26C1_1_105_c.JPEG
data/4B744476-6649-4E5C-8AC0-404E66EE26C1_1_105_c(1).docx
data/4B744476-6649-4E5C-8AC0-404E66EE26C1_1_105_c(1).JPEG
data/7AA67187-CC18-46E2-B115-18F759FBE191_1_105_c.docx
data/7AA67187-CC18-46E2-B115-18F759FBE191_1_105_c.JPEG
data/7CFA5990-6C40-489C-83C3-75D01A03D612_1_105_c.docx
data/7CFA5990-6C40-489C-83C3-75D01A03D612_1_105_c.JPEG
data/7CFA5990-6C40-489C-83C3-75D01A03D612_1_105_c(1).docx
data/7CFA5990-6C40-489C-83C3-75D01A03D612_1_105_c(1).JPEG
data/7DB7ECA6-2A1C-49E7-9EF9-F6F5AA0894E9_1_105_c.docx
data/7DB7ECA6-2A1C-49E7-9EF9-F6F5AA0894E9_1_105_c.JPEG
data/42D07087-4615-4FD4-99D6-5070EAD18AFD_1_105_c.docx
data/42D07087-4615-4FD4-99D6-5070EAD18AFD_1_105_c.JPEG
data/263E442A-169A-4126-88A9-727A9A2F937C_1_105_c.docx
data/263E442A-169A-4126-88A9-727A9A2F937C_1_105_c.JPEG
data/339AE8EE-939D-44E0-A07D-1F18A8DABBDB_1_105_c.docx
data/339AE8EE-939D-44E0-A07D-1F18A8DABBDB_1_105_c.JPEG
data/339AE8EE-939D-44E0-A07D-1F18A8DABBDB_1_105_c(1).docx
data/339AE8EE-939D-44E0-A07D-1F18A8DABBDB_1_105_c(1).JPEG
data/365BA712-BAA4-419D-A248-B6624AD31D65_1_105_c.docx
data/365BA712-BAA4-419D-A248-B6624AD31D65_1_105_c.JPEG
data/636C7AB5-21D9-4619-B2BF-AA9C2276C184_1_105_c.docx
data/636C7AB5-21D9-4619-B2BF-AA9C2276C184_1_105_c.JPEG
data/8472E97B-3B32-4165-AED0-63662071B49C_1_105_c.docx
data/8472E97B-3B32-4165-AED0-63662071B49C_1_105_c.JPEG
data/8799CB69-DCD2-4E71-99AA-75E35A5B5612_1_105_c.docx
data/8799CB69-DCD2-4E71-99AA-75E35A5B5612_1_105_c.JPEG
data/9128EF52-6BBA-406A-8DC2-FACE522F71D5_1_105_c.docx
data/9128EF52-6BBA-406A-8DC2-FACE522F71D5_1_105_c.JPEG
data/36972B95-A3B5-4D12-B629-E67FD72AF7F4_1_105_c.docx
data/36972B95-A3B5-4D12-B629-E67FD72AF7F4_1_105_c.JPEG
data/38073B68-363C-413A-AD2C-52C3C7055543_1_105_c.docx
data/38073B68-363C-413A-AD2C-52C3C7055543_1_105_c.JPEG
data/65077D56-D296-4FB6-A632-28135659AD66_1_105_c.docx
data/65077D56-D296-4FB6-A632-28135659AD66_1_105_c.JPEG
data/69039EC4-C35C-435D-AB33-6699CB4D398A_1_105_c.docx
data/69039EC4-C35C-435D-AB33-6699CB4D398A_1_105_c.JPEG
data/69039EC4-C35C-435D-AB33-6699CB4D398A_1_105_c(1).docx
data/69039EC4-C35C-435D-AB33-6699CB4D398A_1_105_c(1).JPEG
data/484292C0-4526-4D4D-B2D6-5D3D6A7BDF9F_1_105_c.docx
data/484292C0-4526-4D4D-B2D6-5D3D6A7BDF9F_1_105_c.JPEG
data/80509961-FF05-4C2D-AF56-73EDF89F3BEF_1_105_c.docx
data/80509961-FF05-4C2D-AF56-73EDF89F3BEF_1_105_c.JPEG
data/80509961-FF05-4C2D-AF56-73EDF89F3BEF_1_105_c(1).docx
data/80509961-FF05-4C2D-AF56-73EDF89F3BEF_1_105_c(1).JPEG
data/A0BD27F5-DEE6-47B7-9A2D-2436C3FC0F3D_1_105_c.docx
data/A0BD27F5-DEE6-47B7-9A2D-2436C3FC0F3D_1_105_c.JPEG
data/A6E434BE-E352-4C3F-BE5E-4386A31110DD_1_105_c.docx
data/A6E434BE-E352-4C3F-BE5E-4386A31110DD_1_105_c.JPEG
data/A31F9FAD-7142-4909-82A4-3988D97C6BF8_1_105_c.docx
data/A31F9FAD-7142-4909-82A4-3988D97C6BF8_1_105_c.JPEG
data/A210786D-3854-4E20-9FE3-5F8CF5029601_1_105_c.docx
data/A210786D-3854-4E20-9FE3-5F8CF5029601_1_105_c.JPEG
data/AB7A728E-8402-405D-B442-EC95DA6DD903_1_105_c.docx
data/AB7A728E-8402-405D-B442-EC95DA6DD903_1_105_c.JPEG
data/AC9B11D7-2CEC-4495-94BA-836FA1CD57C4_1_105_c.docx
data/AC9B11D7-2CEC-4495-94BA-836FA1CD57C4_1_105_c.JPEG
data/AF3EDA41-B66D-4738-AC71-14FEA1295267_1_105_c.docx
data/AF3EDA41-B66D-4738-AC71-14FEA1295267_1_105_c.JPEG
data/B6B00772-2EFB-4ABD-B88F-CE2D3AD90CC9_1_105_c.docx
data/B6B00772-2EFB-4ABD-B88F-CE2D3AD90CC9_1_105_c.JPEG
data/B7BC5AFB-D2A5-45DC-AF82-E2E9F42995F0_1_105_c.docx
data/B7BC5AFB-D2A5-45DC-AF82-E2E9F42995F0_1_105_c.JPEG
data/B9D076F4-1BC4-4618-B028-2FCF6D847D76_1_105_c.docx
data/B9D076F4-1BC4-4618-B028-2FCF6D847D76_1_105_c.JPEG
data/B94CDFF7-A2A2-4A7F-9544-7EBBEA4A659D_1_105_c.docx
data/B94CDFF7-A2A2-4A7F-9544-7EBBEA4A659D_1_105_c.JPEG
data/C5D3B804-43E4-41C5-BD2A-62A4A8615AD2_1_105_c.docx
data/C5D3B804-43E4-41C5-BD2A-62A4A8615AD2_1_105_c.JPEG
data/C8F04BED-3E76-453F-A12C-48724AFF68D4_1_105_c.docx
data/C8F04BED-3E76-453F-A12C-48724AFF68D4_1_105_c.JPEG
data/Chocolate-Avocado Pudding.docx
data/Chocolate-Avocado Pudding.html
data/D4F41760-BE66-4395-8996-0025E8DE3BC7_1_105_c.docx
data/D4F41760-BE66-4395-8996-0025E8DE3BC7_1_105_c.JPEG
data/D355FA8A-ECD2-4045-9BB1-428CE2702AF7_1_105_c.docx
data/D355FA8A-ECD2-4045-9BB1-428CE2702AF7_1_105_c.JPEG
data/E7DAFA9F-00A9-4A81-BED7-3EA00ABCBB98_1_105_c.docx
data/E7DAFA9F-00A9-4A81-BED7-3EA00ABCBB98_1_105_c.JPEG
data/E7DAFA9F-00A9-4A81-BED7-3EA00ABCBB98_1_105_c(1).docx
data/E7DAFA9F-00A9-4A81-BED7-3EA00ABCBB98_1_105_c(1).JPEG
data/E9C2D624-1E7A-425A-BCA7-142AD84B57AD_1_105_c.docx
data/E9C2D624-1E7A-425A-BCA7-142AD84B57AD_1_105_c.JPEG
data/E26660E2-ADF9-4CD2-B75F-D8FD56D7F6DE_1_105_c.docx
data/E26660E2-ADF9-4CD2-B75F-D8FD56D7F6DE_1_105_c.JPEG
data/E8772109-A784-4EC2-B793-7271FFC3A483_1_105_c.docx
data/E8772109-A784-4EC2-B793-7271FFC3A483_1_105_c.JPEG
data/EDAA2DA0-9227-4F48-BF07-D17970ED4304_1_105_c.docx
data/EDAA2DA0-9227-4F48-BF07-D17970ED4304_1_105_c.JPEG
data/EFAACE15-4B61-4BB4-98A9-29DF96B0E09A_1_105_c.docx
data/EFAACE15-4B61-4BB4-98A9-29DF96B0E09A_1_105_c.JPEG
data/Favorite Bowl Meals.pdf
data/FFBC7CF8-AF5B-43E2-97BA-5ECD94CFB30F_1_105_c.docx
data/FFBC7CF8-AF5B-43E2-97BA-5ECD94CFB30F_1_105_c.JPEG
data/FFBC7CF8-AF5B-43E2-97BA-5ECD94CFB30F_1_105_c(1).docx
data/FFBC7CF8-AF5B-43E2-97BA-5ECD94CFB30F_1_105_c(1).JPEG
data/IMG_4637.heic
data/IMG_4638.docx
data/IMG_4638.JPEG
data/IMG_4640.HEIC
data/IMG_4641.docx
data/IMG_4641.JPEG
data/IMG_4642.HEIC
data/IMG_4643.heic
data/IMG_4644.HEIC
data/Indian Sweet Coconut Porridge (Pongala).docx
data/Indian Sweet Coconut Porridge (Pongala).html
data/Italian Orzo Spinach Soup.docx
data/Italian Orzo Spinach Soup.html
data/Mango Spinach Smoothie.docx
data/Mango Spinach Smoothie.html
data/Mexican Drinks_ Jamaica, Tamarindo, Y Horchata.docx
data/Mexican Drinks_ Jamaica, Tamarindo, Y Horchata.html
data/Orange Ginger Sunrise Smoothie.docx
data/Orange Ginger Sunrise Smoothie.html
data/Orecchiette with Spinach and Rosemary Fried Chickpeas.docx
data/Orecchiette with Spinach and Rosemary Fried Chickpeas.html
data/Pasta E Fagioli.docx
data/Pasta E Fagioli.html
data/Pear and Arugula Smoothie with Ginger and Walnuts.docx
data/Pear and Arugula Smoothie with Ginger and Walnuts.html
data/Pineapple, Orange, Ginger, Carrot Smoothie.docx
data/Pineapple, Orange, Ginger, Carrot Smoothie.html
data/Plant fully Simple.pdf
data/Pumpkin Oatmeal Cookies.docx
data/Pumpkin Oatmeal Cookies.html
data/Pumpkin-Chickpea Curry.docx
data/Pumpkin-Chickpea Curry.html
data/Quarter Pounder Beet Burger.docx
data/Quarter Pounder Beet Burger.html
data/Recipes_ Online links.xlsx
data/Rigatoni with Easy Vodka Sauce.docx
data/Rigatoni with Easy Vodka Sauce.html
data/Roasted Aloo Gobi (Potatoes and Cauliflower).docx
data/Roasted Aloo Gobi (Potatoes and Cauliflower).html
data/Roasted Chile Poblano Soup - Vegan.docx
data/Roasted Chile Poblano Soup - Vegan.html
data/Ruby Red Green Smoothie.docx
data/Ruby Red Green Smoothie.html
data/Spicy Sesame Noodles with Peanuts.docx
data/Spicy Sesame Noodles with Peanuts.html
data/Spicy Tempeh Breakfast Sausage.docx
data/Spicy Tempeh Breakfast Sausage.html
data/Spicy Tofu Crumbles.docx
data/Spicy Tofu Crumbles.html
data/The Best Breakfast Smoothie.docx
data/The Best Breakfast Smoothie.html
data/These Homemade Vegetarian Dumplings Are Better Than Anything From the Frozen Section.docx
data/These Homemade Vegetarian Dumplings Are Better Than Anything From the Frozen Section.html
data/Tropical Matcha Green Smoothie 2..docx
data/Tropical Matcha Green Smoothie 2..html
data/Vegan Arroz Con Leche.docx
data/Vegan Arroz Con Leche.html
data/Vegan Chocolate Tart with Salted Oat Crust.docx
data/Vegan Chocolate Tart with Salted Oat Crust.html
data/Vegan Coconut Lentil Soup.docx
data/Vegan Coconut Lentil Soup.html
data/Vegan eats the world 2.pdf
data/Vegan Eats the World.pdf
data/Vegan Mexican Wedding Cookies.docx
data/Vegan Mexican Wedding Cookies.html
data/Vegan Spelt Banana Bread.docx
data/Vegan Spelt Banana Bread.html
data/Vegetable Noodle Stir-Fry with Peanut Lime Sauce.docx
data/Vegetable Noodle Stir-Fry with Peanut Lime Sauce.html
data/Vegetarian Meatballs with Soy-Honey Glaze.docx
data/Vegetarian Meatballs with Soy-Honey Glaze.html
data/Veggie Sammies.pdf
.DS_Store
